{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    
    <div class="ui stackable page grid">
        <div class="row">
            <div class="column">
                <div class="ui segments">
                    <div class="ui segment">
                        <p>Create Clients <a href="{% url 'admin:index' %}oidc_provider/client/" target="_BLANK">here</a>.</p>
                        <p>Manage RSA Keys <a href="{% url 'admin:index' %}oidc_provider/rsakey/" target="_BLANK">here</a>.</p>
                        <h2 class="ui header">Supported End Points</h2>
                        <div class="ui list">
                            <div class="item">
                                <a href="{% url 'oidc_provider:authorize' %}" class="header">Authorize</a>
                                <div class="description">This endpoint authenticate End-User. <a href="http://openid.net/specs/openid-connect-core-1_0.html#AuthorizationEndpoint" target="_BLANK">Read more</a>.</div>
                            </div>
                            <div class="item">
                                <a href="{% url 'oidc_provider:token' %}" class="header">Tokens</a>
                                <div class="description">To get Access, ID Token and optionally a Refresh Token. <a href="http://openid.net/specs/openid-connect-core-1_0.html#TokenEndpoint" target="_BLANK">Read more</a>.</div>
                            </div>
                            <div class="item">
                                <a href="{% url 'oidc_provider:userinfo' %}" class="header">User Information</a>
                                <div class="description">OAuth 2.0 authenticated End-User. <a href="http://openid.net/specs/openid-connect-core-1_0.html#UserInfo" target="_BLANK">Read more</a>.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
